VITE_TRAKT_CLIENT_ID=your_trakt_client_id
VITE_TRAKT_CLIENT_SECRET=your_trakt_client_secret
VITE_TMDB_API_KEY=your_tmdb_api_key
VITE_OMDB_API_KEY=your_omdb_api_key
VITE_YOUTUBE_API_KEY=your_youtube_api_key
